@import url(https://rsms.me/inter/inter.css);

body {
	font-family: "Inter", sans-serif;
}

:root {
	--background: #ffffff;
	--foreground: #000000;

	@media (prefers-color-scheme: dark) {
		--background: #000000;
		--foreground: #ffffff;
	}
}

body {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0;

	background-color: var(--background);
	color: var(--foreground);
}